@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "navigation.less";
@import "footer.less";

body{
  .beach{
    width: 100%;
    height: 550px;
    @media @tablet{
      display: none;
      @media @mobile{
        display: none;

        }
      }
  }
}

header {
    width: 100%;
    height: auto;
    text-align: center;

    h1 {
        font-size: 3vw;
        font-weight: bold;
        color: @black;
        background-color: @pink;
    }
}

.aboutIntro{
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-family: monospace;
  background-color: @black;
  color: @white;

  @media @tablet{
    display: none;
  }
  @media @mobile{
    display: none;
  }

  p{
    font-size: 25px;
  }
}

.boxes{
  padding-top: 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;

  .client{
    background-color: @pink;
    border: @black 2px solid;
    margin-left: 25px;
    margin-right: 25px;
    width: 575px;
    height: 400px;

    @media @mobile{
      margin-bottom: 10px;
      img{
        display: none;
      }
    }

    h2{
      background-color: @black;
      font-size: 40px;
      font-weight: bold;
      color: @white;
      text-align: center;


    }
    p{
      font-size: 34px;
      font-weight: bold;
      color: @white;
      text-align: center;
    }
  }

  .instructor{
    background-color: @pink;
    border: @black 2px solid;
    margin-left: 25px;
    margin-right: 25px;
    width: 575px;
    height: 400px;

    @media @mobile{
      margin-bottom: 10px;
      img{
        display: none;
      }
    }

    h2{
      background-color: @black;
      font-size: 40px;
      font-weight: bold;
      color: @white;
      text-align: center;
    }
    p{
      font-size: 34px;
      font-weight: bold;
      color: @white;
      text-align: center;
    }
  }
}
