header {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    
    img {
        width: 100%;
        height: auto;
    }

    h2 {
        position: absolute;
        top: 30%;
        right: 5%;
        font-size: 10vw;
        font-weight: bold;
        color: @pink;

    }
}


.main-container {
    transition:margin-right 0.5s;
    padding:0px;
    overflow:hidden;
    width:100%;

    .how {
        .flex-class(row, space-evenly, center, 1rem);
        flex-wrap: wrap;
        margin: 20px 0px;

        .find-class, .offer-class, .go {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0px 20px;
        }

        img {
        width: 65px;
        height: 65px;
        margin: 10px 0px;
        text-align: center;
        }

        h3 {
        font-weight: bold;
        font-size: 1.25rem;
        text-align: center;
        }

        p {
        font-weight: lighter;
        padding: 10px 0px;
        text-align: center;
        line-height: 19px;
        }
    }

    .middle-images {
        .flex-class(row, center, center, 1rem);

        
        img {
            width: 50%;
            height: auto;
        }

        @media @mobile {
            #map {
                display: none;
            }

            #hands {
                width: 100%;
            }
        }

    }

    .middle-text {
        background: @black;
        color: @white;
        padding: 30px 50px;
        

        h4 {
            font-size: 2.81rem;
            line-height: 50px;
            text-align: center;

            @media @mobile {
                font-size: 35px;
            }
        }

        p {
            font-size: 1.56rem;
            font-weight: lighter;
            padding-top: 20px;
            text-align: center;

            @media @mobile {
                font-size: 1.25rem;
            }
        }
    }

    .bottom-images {
        .flex-class(row, center, center, 1rem);
        flex-wrap: wrap;
        width: 100%;
        height: auto;

        img {
            width: 33.333%;
        }

        @media @mobile {
            #fist-bump {
                display: none;
            }

            .flex-class(column, center, center, 1rem);
            #instructor, #running {
                width: 100%;
            }
        
        }
    }
}
