.nav-bar {
    .flex-class(row, space-between, center, 1rem);
    background: @black;
    padding: 18px 30px;
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            width: 20px;
            height: 20px;
        }
        h1 {
            color: @white;
            padding-left: 5px;
            margin: 0px;
        }
    }
    nav a {
        text-decoration: none;
        color: @white;
        margin: 0px 20px;
        font-weight: lighter;
    }

    nav a:hover {
        border-bottom: 2px solid @pink;
    }
<<<<<<< HEAD

    .side-nav {
        height:200px;
        width:0;
        position:fixed;
        z-index:1;
        top:0;
        right:0;
        background-color:#111;
        opacity:0.9;
        overflow-x:hidden;
        padding-top:60px;
        transition:0.5s;

        a{
            padding:10px 10px 10px 30px;
            text-decoration:none;
            font-size:1.38rem;
            color:#ccc;
            display:block;
            transition:0.3s;
        }

        a:hover{
            color:#fff;
        }

        .btn-close{
            position:absolute;
            top:0;
            right:22px;
            font-size:2.25rem;
            margin-left:50px;
        }
    }

    @media(max-width:799px){
        .nav-container{display:none}
    }

    @media(min-width:800px){
        .open-slide{display:none}
    }


}
=======
>>>>>>> 9f93de0e36d0d84e380db7411a2d00e4e206d4fa
