.nav-bar {
    .flex-class(row, space-between, center, 16px);
    background: @black;
    padding: 18px 30px;
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            width: 20px;
            height: 20px;
        }
        h1 {
            color: @white;
            padding-left: 5px;
            margin: 0px;
        }
    }
    nav a {
        text-decoration: none;
        color: @white;
        margin: 0px 20px;
        font-weight: lighter;
    }

    nav a:hover {    
        border-bottom: 2px solid @pink;
    }

    @media @tablet {
        .flex-class(column, center, center, 16px);

        .logo {
            margin-top: 10px;
            img {
                width: 30px;
                height: 30px;
            }

            h1 {
                font-size: 30px;
            }
        }

        nav {
            padding: 25px 0px 0px 0px;
        }
    }

    @media @mobile {
        .flex-class(column, center, center, 16px);

        .logo {
            img {
                width: 30px;
                height: 30px;
            }

            h1 {
                font-size: 30px;
            }
        }
    }

    @media @small {
        nav {
            .flex-class(column, center, center, 16px);
            padding: 20px 0px 0px 0px;

            a {
                padding-top: 15px;
            }
        }
    }

    
}